.logo{
    height: 18vh;
    min-width: 180%;
    /* width: 20vw; */
    margin: -20%;
    /* padding-top:6%; */
    padding-left: 5%;
}
.text-white{
    /* font-style: italic; */
}

.runningHand{
    text-transform: lowercase;
}

@media screen and (max-width:600px) {
    .logo{
        padding-top: 2%;
        margin-left: 3%;
        min-width: 150%;
        height: 15vh;
    }
    
}