.logo{
    height: 20vh;
    max-width: 200%;
    /* width: 20vw; */
    margin: -20%;
    /* padding-top:6%; */
    padding-left: 5%;
}

@media screen and (max-width:600px) {
    .logo{
        padding-top: 5%;
        max-width: 120%;
        height: 23vh;
    }
    
}